{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class = "container">
  <div class ="row">
    {% for product in new_list %}
    <div class ="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>  
    <div class ="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/media/lemon-lime-tablets.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div> 
    <div class ="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/media/acai-berry-540g-canister_1JzTR6T.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>        
  </div>
</div>
{% endfor %}
{% endblock %}