{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Add Blog Post{% endblock %}


{% block extra_css %}
<style>
    body { 
        background-image: none !important;
        background-color: white !important;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- page header -->
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">New Blog Post</h1>
            </div>
        </div>
        <div class="row mt-4">
        <div class="col-12 mb-5 col-md-4 col-md-offset-4">
        <form method="POST" action="{% url 'add_blog_post' %}" enctype="multipart/form-data" id="theform">
            {% csrf_token %} 
            <div class="row blog-form">
                <div class="col-lg-4">
                    {{ form.title | as_crispy_field }}
                </div>
                <div class="col-lg-4 edit-image">
                    {{ form.image | as_crispy_field }}
                </div>
                <div class="col-lg-8 ">
                    {{ form.content | as_crispy_field }}
                </div>
                <div class="col-12 col-sm-10 offset-sm-1 col-md-5 offset-md-1 col-lg-4 offset-lg-2 mb-3">
                    <a href="{% url 'blog' %}" class="btn my-btn">
                        <i class="fas fa-angle-left"></i> Back to Blogs
                    </a>
                    <button type="submit" class="btn btn-success font-weight-bold">
                        Add Blog Post
                    </button>
                </div>
            </div>
        </form>  
    </div>
</div>
</div>
{% endblock %}
